.menu__link {
    color: #333;
    padding: .5rem 1rem;
    border-bottom: 2px solid transparent;
    transition: border .4s ease-in-out;
}

.menu__link:focus,
.menu__link:hover,
.menu__link.ativo {
    border-bottom: 2px solid #0073e6;
}
